.signUp-section1{
    width: 48%;
}
.signIp-content-section1 img{
    width: 100%;
}
.signIp-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem ;
}

.signIn-section2{
    z-index: 1;
    width: 45%;
    padding: 2.3rem 3rem 5rem 3rem;
    background-color: #fff;
    border-radius: .5rem;
    box-shadow: 0px 0px 5px rgba(0, 0, 0,0.2);
}

.sign-in-section{
    background-image: url(../PICTURES/SignUp_bg.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}

.signIn-checkbox-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

.signin-password-section{
    margin-top: 1rem;
}


.signin-password-input-div{
    display: flex;
    align-items: center;
    border: 1px solid rgba(0,0,0,0.3);
    margin-top: .3rem;
    border-radius: .3rem;
    width: 100%;
}
.input-icon{
    text-align: center;
    width: 10%;
    font-size: 1.8rem;
    display: flex;
    cursor: pointer;
}
.signin-password-input-div input{
    width: 90%;
    padding: 1rem .6rem ;
    border: none;
    outline: none;
    border-radius: .3rem;
}
input::placeholder{
    color: #ccc;
    font-size: .9rem
}

.signin-password-input-div1{
    width: 100%;
    margin: .5rem 0;
}

.signin-password-input-div1 input{
    width: 100%;
    padding:1rem .6rem;
    border: 1px solid #ccc;
    outline: none;
    border-radius: .4rem;
}

.signIp-content-section2 h2{
    margin: 0;
}

.signIp-content-section2 p{
    margin: 0;
    padding: .5rem 0;
    font-size:1rem;
    font-weight: 600;
}

.signIn-checkbox-div1{
    display: flex;
    align-items: center;
}
.signIn-checkbox-div1 input{
    cursor: pointer;
}

.sbtn{
    background-color: #1b58f9;
    border: none;
    outline: none;
    width: 100%;
    padding: 1rem 0;
    font-weight: 600;
    color: white;
    border-radius: .3rem;
    margin-top: 1.3rem;
}

.already{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;
}
.already p{
    margin: 0;
    color: rgba(0,0,0,0.4);
}

.already h6{
    margin: 0;
    color: #1b58f9;
    font-weight: 500;
}

.signIn-checkbox-div2 p{
    margin: 0;
}



